<div class="uk-position-relative">
    <img src="images/light.jpg" width="1800" height="1200" alt="">
    <div class="uk-position-top">
        <nav class="uk-navbar-container uk-navbar-transparent">
            <div class="uk-container">
                <div uk-navbar>

                    <div class="uk-navbar-left">
                        <a [routerLink]="['']" class="uk-navbar-item uk-logo">nickpacy.com</a>
                    </div>

                    <div class="uk-navbar-center uk-visible@m">
                        <ul class="uk-navbar-nav">
                            <li><a [routerLink]="['/about']" routerLinkActive="uk-link-muted">About</a></li>
                            <li><a [routerLink]="['/photos']" routerLinkActive="uk-link-muted">Photos</a></li>
                            <li><a [routerLink]="['/photos']" routerLinkActive="uk-link-muted">Admin</a></li>
                        </ul>
                    </div>

                    <div class="uk-navbar-right">
                        <ul class="uk-navbar-nav">
                            <li><a href="https://www.instagram.com/npacy" aria-expanded="false"><i class="fa-brands fa-instagram fa-2x"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/nicholaspacy" aria-expanded="false"><i class="fa-brands fa-linkedin fa-2x"></i></a></li>
                            <li><a href="https://www.twitter.com/npacy" aria-expanded="false"><i class="fa-brands fa-twitter fa-2x"></i></a></li>
                            <li><a href="https://github.com/nickpacy" aria-expanded="false"><i class="fa-brands fa-github fa-2x"></i></a></li>
                            <li class="uk-hidden@m"><a class="uk-navbar-toggle uk-navbar-toggle-icon uk-icon" data-uk-toggle="" data-uk-navbar-toggle-icon="" href="#offcanvas-nav"></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </nav>
    </div>
</div>

<div id="offcanvas-nav" uk-offcanvas="overlay: true;flip: true">
    <div class="uk-offcanvas-bar">

        <ul class="uk-nav uk-nav-default">
            <li class="uk-active"><a href="#">Active</a></li>
            <li class="uk-parent">
                <a href="#">Parent</a>
                <ul class="uk-nav-sub">
                    <li><a href="#">Sub item</a></li>
                    <li><a href="#">Sub item</a></li>
                </ul>
            </li>
            <li class="uk-nav-header">Header</li>
            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: table"></span> Item</a></li>
            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span> Item</a></li>
            <li class="uk-nav-divider"></li>
            <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: trash"></span> Item</a></li>
        </ul>

    </div>
</div>