<div class="home-container">
    <div class="content">
      <h1 class="uk-heading-medium" style="color: white;">nickpacy.com</h1>
      <p class="sub-title"><strong>Use navigation below to continue</strong></p>
      <div class="uk-button-group button-group">
        <button class="uk-button uk-button-default" [routerLink]="['about']"><i class="fa fa-id-card"></i>&nbsp;&nbsp;About</button>
        <button class="uk-button uk-button-default" [routerLink]="['photos']"><i class="fa fa-camera"></i>&nbsp;&nbsp;Photos</button>
        <div class="uk-inline">
            <button class="uk-button uk-button-default" type="button" aria-label="Toggle Dropdown"><i class="fa fa-tools"></i>&nbsp;&nbsp;More</button>
            <div uk-dropdown="mode: hover;" style="width: 250px;">
                <ul class="uk-nav uk-dropdown-nav">
                    <li class="uk-nav-header">Projects</li>
                    <li class="uk-text-left"><a href="https://www.edwardmartinlaw.com"><i class="fa fa-gavel"></i>&nbsp;&nbsp;Edward W. Martin ESQ.</a></li>
                    <li class="uk-text-left"><a href="https://www.algotee.com"><i class="fa fa-golf-ball-tee"></i>&nbsp;&nbsp;Algoteé</a></li>
                    <li class="uk-nav-divider"></li>
                    <li class="uk-nav-header">Social</li>
                    <li class="uk-text-left"><a href="https://www.instagram.com/npacy/"><i class="fab fa-instagram"></i>&nbsp;&nbsp;Instagram</a></li>
                    <li class="uk-text-left"><a href="https://www.linkedin.com/in/nicholaspacy/"><i class="fab fa-linkedin"></i>&nbsp;&nbsp;LinkedIn</a></li>
                    <li class="uk-text-left"><a href="https://www.twitter.com/npacy/"><i class="fab fa-twitter"></i>&nbsp;&nbsp;Twitter</a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
  </div>
  