<footer class="uk-section uk-section-secondary uk-padding-remove-bottom">
    <div class="uk-container">
        <div class="uk-grid uk-grid-large" data-uk-grid="">
            <div class="uk-width-1-2@m uk-first-column">
                <h5>nickpacy.com</h5>
                <p>Personal sandbox for web development practice. Trying out UIkit.</p>
                <div>
                    <a href="https://www.instagram.com/npacy/" class="fa-brands fa-instagram" style="margin: 10px"></a>
                    <a href="https://www.linkedin.com/in/nicholaspacy/" class="fa-brands fa-linkedin" style="margin: 10px"></a>
                    <a href="https://www.twitter.com/npacy/" class="fa-brands fa-twitter" style="margin: 10px"></a>
                    <a href="https://github.com/nickpacy" class="fa-brands fa-github" style="margin: 10px"></a>
                </div>
            </div>
        </div>
    </div>
    
    <div class="uk-text-center uk-padding uk-padding-remove-horizontal">
        <span class="uk-text-small uk-text-muted">© 2024 <a routerLink="['']" class="uk-text-muted">nickpacy.com</a></span>
    </div>

</footer>